<style>
    a {
        cursor: pointer;
    }
</style>

<div class="container my-4">
    <main>
        <div class="py-5">
            <h2>
                Candidates List
                <button class="btn btn-primary float-end" routerLink="/add">Add Candidate</button>
            </h2>
        </div>

        <div class="row">
            <div class="col-12 ms-auto me-auto">
                <div class="card" *ngIf="candidates.length; else elseBlock">
                    <div class="card-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Number of Skills</th>
                                    <th>Total Work Experience (in months)</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let candidate of candidates; index as i">
                                    <td>{{i+1}}</td>
                                    <td>{{candidate.fName + " " + candidate.lName}}</td>
                                    <td>{{candidate.email}}</td>
                                    <td>{{candidate.prof_info.skills.length}}</td>
                                    <td>{{getTotalExperience(candidate.id)}}</td>
                                    <td>
                                        <a (click)="editCandidate(candidate.id)" class="text-primary">Edit</a>
                                        <a (click)="deleteCandidate(candidate.id)" class="text-danger ms-2">Delete</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
                <ng-template #elseBlock>
                    <h3>Empty</h3>
                </ng-template>



            </div>
        </div>
    </main>
</div>